# CS 6140 Final Project

Fall 2022

Group 8

# Data Preprocessing

## Setup

In [44]:
import numpy as np
import pandas as pd

## Import Data from CSV

In [45]:
BASE_PATH = './data'
RAW_DATA_FILE_NAME = 'raw_data.csv'

In [46]:
raw_data_df = pd.read_csv(f'{BASE_PATH}/{RAW_DATA_FILE_NAME}', index_col=5)

In [47]:
raw_data_df.head()

,COUNTRY,NUTS2,NUTS3,CODE,CODE_NUTS2,POPULATION,POP_DENS,POP>=60,%POP>=60,FEMEALES,...,LD_SEVEIRTY_W34,LD_SEVEIRTY_W35,NO2_avg,WIND_Avg,Temp_mean_over12yrs,NTL_avg,PRESSURE_avg,PRECIPITATION,SOLAR_RAD_avg,LAI_avg
CODE_NUTS3,,,,,,,,,,,,,,,,,,,,,
-,Austria,-,-,AT,-,8971664,107.1,2239965.0,24.967108,4559078.0,...,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-,Austria,Burgenland,-,AT,AT11,297048,NaN,87107.0,29.324217,151348.0,...,0.0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AT111,Austria,Burgenland,Mittelburgenland,AT,AT11,37899,54.0,12030.0,31.742262,19302.0,...,0.0,0,2.630771,3.000289,9.207416,8.241319,0.923921,57.232225,11746.180873,1.790256
AT112,Austria,Burgenland,Nordburgenland,AT,AT11,161164,90.0,44838.0,27.821350,82196.0,...,0.0,0,2.630771,3.175656,10.078024,12.364236,0.964879,49.182485,11775.125172,1.447596
AT113,Austria,Burgenland,Südburgenland,AT,AT11,97985,67.0,30239.0,30.860846,49850.0,...,0.0,0,2.151366,2.412818,9.107134,9.802083,0.940495,62.468139,11758.273024,1.877442

In [48]:
print(f'The number of data points is: {len(raw_data_df)}')

The number of data points is: 1471

## Examine Indices

In [49]:
print(f'The number of indices with "-" are: {sum(raw_data_df.index == "-")}')

The number of indices with "-" are: 232

## Select Columns

In [50]:
OUTPUT_COLS = ['COVID_Mortality_R']

In [51]:
POP_DATA_INPUT_COL_NAMES = [
    'POP_DENS',
    'POP 0-14',
    'POP 15-29',
    'POP 30-44',
    'POP 45-59',
    'POP_GROWTH',
    'HOUSEHOLDS',
    'DWELLINGS',
]

In [52]:
POP_DATA_INCLUDED_COL_NAMES = OUTPUT_COLS + POP_DATA_INPUT_COL_NAMES

In [53]:
pop_data_df = raw_data_df[POP_DATA_INCLUDED_COL_NAMES]

In [54]:
pop_data_df.head()

,COVID_Mortality_R,POP_DENS,POP 0-14,POP 15-29,POP 30-44,POP 45-59,POP_GROWTH,HOUSEHOLDS,DWELLINGS
CODE_NUTS3,,,,,,,,,
-,8.092144,107.1,1294476.0,1593542.0,1792151.0,2051530.0,4.1,3982408,4744861
-,3.703105,NaN,39085.0,43364.0,54915.0,72577.0,NaN,127378,157610
AT111,NaN,54.0,4750.0,5301.0,6601.0,9217.0,1.0,15995,20578
AT112,NaN,90.0,22201.0,23890.0,31074.0,39161.0,5.0,69787,85577
AT113,NaN,67.0,12134.0,14173.0,17240.0,24199.0,1.0,41596,51455

In [55]:
print('Number of NaNs by column')

for col_name in pop_data_df.columns:
    print(f'{col_name}: {pop_data_df[col_name].isna().sum()}')

Number of NaNs by column
COVID_Mortality_R: 438
POP_DENS: 214
POP 0-14: 0
POP 15-29: 0
POP 30-44: 0
POP 45-59: 0
POP_GROWTH: 214
HOUSEHOLDS: 10
DWELLINGS: 10

In [56]:
print(f'The number of data points is: {len(pop_data_df)}')

The number of data points is: 1471

In [57]:
POP_ENV_DATA_INCLUDED_COL_NAMES = POP_DATA_INCLUDED_COL_NAMES + [
    'SURFACE AREA',
    'UNEM_R',
    'NTL_avg',
    'NO2_avg',
    'WIND_Avg',
    'Temp_mean_over12yrs',
    'PRESSURE_avg',
    'PRECIPITATION',
    'SOLAR_RAD_avg',
    'LAI_avg',
]

In [58]:
pop_env_data_df = raw_data_df[POP_ENV_DATA_INCLUDED_COL_NAMES]

In [59]:
pop_env_data_df.head()

,COVID_Mortality_R,POP_DENS,POP 0-14,POP 15-29,POP 30-44,POP 45-59,POP_GROWTH,HOUSEHOLDS,DWELLINGS,SURFACE AREA,UNEM_R,NTL_avg,NO2_avg,WIND_Avg,Temp_mean_over12yrs,PRESSURE_avg,PRECIPITATION,SOLAR_RAD_avg,LAI_avg
CODE_NUTS3,,,,,,,,,,,,,,,,,,,
-,8.092144,107.1,1294476.0,1593542.0,1792151.0,2051530.0,4.1,3982408,4744861,83878.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-,3.703105,NaN,39085.0,43364.0,54915.0,72577.0,NaN,127378,157610,NaN,4.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AT111,NaN,54.0,4750.0,5301.0,6601.0,9217.0,1.0,15995,20578,694.83,NaN,8.241319,2.630771,3.000289,9.207416,0.923921,57.232225,11746.180873,1.790256
AT112,NaN,90.0,22201.0,23890.0,31074.0,39161.0,5.0,69787,85577,1774.58,NaN,12.364236,2.630771,3.175656,10.078024,0.964879,49.182485,11775.125172,1.447596
AT113,NaN,67.0,12134.0,14173.0,17240.0,24199.0,1.0,41596,51455,1459.03,NaN,9.802083,2.151366,2.412818,9.107134,0.940495,62.468139,11758.273024,1.877442

In [60]:
print('Number of NaNs by column')

for col_name in pop_env_data_df.columns:
    print(f'{col_name}: {pop_env_data_df[col_name].isna().sum()}')

Number of NaNs by column
COVID_Mortality_R: 438
POP_DENS: 214
POP 0-14: 0
POP 15-29: 0
POP 30-44: 0
POP 45-59: 0
POP_GROWTH: 214
HOUSEHOLDS: 10
DWELLINGS: 10
SURFACE AREA: 214
UNEM_R: 1222
NTL_avg: 238
NO2_avg: 243
WIND_Avg: 238
Temp_mean_over12yrs: 238
PRESSURE_avg: 238
PRECIPITATION: 238
SOLAR_RAD_avg: 238
LAI_avg: 238

### Observations

In [61]:
print(f'The number of data points is: {len(pop_env_data_df)}')

The number of data points is: 1471

- Rows with an index of '-' are rows for larger regions and will be dropped, as we are only looking at specific regions
- Unemployment rate is missing for a majority of the data points, and will be dropped
- The other rows with NaNs will be dropped as they are only ~12 out of a total of ~1200 rows

## Data Cleanup

In [62]:
OUTPUT_COLS = ['COVID_Mortality_R']

In [63]:
POP_DATA_INPUT_COL_NAMES = [
    'POP_DENS',
    'POP 0-14',
    'POP 15-29',
    'POP 30-44',
    'POP 45-59',
    'POP_GROWTH',
    'HOUSEHOLDS',
    'DWELLINGS',
]

In [64]:
POP_DATA_INCLUDED_COL_NAMES = OUTPUT_COLS + POP_DATA_INPUT_COL_NAMES

In [65]:
POP_ENV_DATA_INCLUDED_COL_NAMES = POP_DATA_INCLUDED_COL_NAMES + [
    'SURFACE AREA',
    'NTL_avg',
    'NO2_avg',
    'WIND_Avg',
    'Temp_mean_over12yrs',
    'PRESSURE_avg',
    'PRECIPITATION',
    'SOLAR_RAD_avg',
    'LAI_avg',
]

In [66]:
cleaned_data_df = raw_data_df.drop('-').dropna(subset=POP_ENV_DATA_INCLUDED_COL_NAMES)

In [67]:
cleaned_data_df.head()

,COUNTRY,NUTS2,NUTS3,CODE,CODE_NUTS2,POPULATION,POP_DENS,POP>=60,%POP>=60,FEMEALES,...,LD_SEVEIRTY_W34,LD_SEVEIRTY_W35,NO2_avg,WIND_Avg,Temp_mean_over12yrs,NTL_avg,PRESSURE_avg,PRECIPITATION,SOLAR_RAD_avg,LAI_avg
CODE_NUTS3,,,,,,,,,,,,,,,,,,,,,
AT130,Austria,Wien,Wien,AT,AT13,1922024,4636.0,416944.0,21.692965,985078.0,...,0.0,0,2.597042,3.166146,10.086072,55.458333,0.939186,48.380016,11393.855821,1.343185
DK050,Denmark,Nordjylland,Nordjylland,DK,DK05,594585,75.0,166452.0,27.994652,294191.0,...,1.0,1,2.579632,5.249370,7.659893,8.219927,0.908137,57.856875,9544.852555,1.621009
FR101,France,Île de France,Paris,FR,FR10,2141265,20334.0,479646.0,22.400123,1136034.0,...,0.0,0,4.477317,3.982118,11.516336,63.000000,1.053076,53.193866,11158.210037,0.290718
FR102,France,Île de France,Seine-et-Marne,FR,FR10,1425002,241.0,285105.0,20.007340,732139.0,...,0.0,0,4.830583,3.920665,10.437072,19.806925,1.037385,52.942513,11359.282590,0.852800
FR103,France,Île de France,Yvelines,FR,FR10,1438943,624.0,319840.0,22.227427,740125.0,...,0.0,0,4.124051,4.056414,10.578466,31.544643,1.033177,52.400868,11198.331917,1.238321

In [68]:
print(f'The number of data points is: {len(cleaned_data_df)}')

The number of data points is: 810

In [69]:
pop_data_df = cleaned_data_df[POP_DATA_INCLUDED_COL_NAMES]

In [70]:
pop_data_df.head()

,COVID_Mortality_R,POP_DENS,POP 0-14,POP 15-29,POP 30-44,POP 45-59,POP_GROWTH,HOUSEHOLDS,DWELLINGS
CODE_NUTS3,,,,,,,,,
AT130,11.446267,4636.0,280328.0,386445.0,434245.0,404062.0,8.0,918655,1037729
DK050,5.045536,75.0,93508.0,114449.0,99287.0,120889.0,2.0,285795,308341
FR101,84.389368,20334.0,297869.0,497195.0,465642.0,400913.0,-3.0,1123970,1373139
FR102,50.245544,241.0,297247.0,264533.0,287928.0,290189.0,3.0,554540,604082
FR103,40.654842,624.0,289325.0,253838.0,280752.0,295188.0,1.0,575404,628815

In [71]:
print('Number of NaNs by column')

for col_name in pop_data_df.columns:
    print(f'{col_name}: {pop_data_df[col_name].isna().sum()}')

Number of NaNs by column
COVID_Mortality_R: 0
POP_DENS: 0
POP 0-14: 0
POP 15-29: 0
POP 30-44: 0
POP 45-59: 0
POP_GROWTH: 0
HOUSEHOLDS: 0
DWELLINGS: 0

In [72]:
print(f'The number of data points is: {len(pop_data_df)}')

The number of data points is: 810

In [73]:
pop_env_data_df = cleaned_data_df[POP_ENV_DATA_INCLUDED_COL_NAMES]

In [74]:
pop_env_data_df.head()

,COVID_Mortality_R,POP_DENS,POP 0-14,POP 15-29,POP 30-44,POP 45-59,POP_GROWTH,HOUSEHOLDS,DWELLINGS,SURFACE AREA,NTL_avg,NO2_avg,WIND_Avg,Temp_mean_over12yrs,PRESSURE_avg,PRECIPITATION,SOLAR_RAD_avg,LAI_avg
CODE_NUTS3,,,,,,,,,,,,,,,,,,
AT130,11.446267,4636.0,280328.0,386445.0,434245.0,404062.0,8.0,918655,1037729,410.64,55.458333,2.597042,3.166146,10.086072,0.939186,48.380016,11393.855821,1.343185
DK050,5.045536,75.0,93508.0,114449.0,99287.0,120889.0,2.0,285795,308341,7826.06,8.219927,2.579632,5.249370,7.659893,0.908137,57.856875,9544.852555,1.621009
FR101,84.389368,20334.0,297869.0,497195.0,465642.0,400913.0,-3.0,1123970,1373139,104.24,63.000000,4.477317,3.982118,11.516336,1.053076,53.193866,11158.210037,0.290718
FR102,50.245544,241.0,297247.0,264533.0,287928.0,290189.0,3.0,554540,604082,5863.81,19.806925,4.830583,3.920665,10.437072,1.037385,52.942513,11359.282590,0.852800
FR103,40.654842,624.0,289325.0,253838.0,280752.0,295188.0,1.0,575404,628815,2281.57,31.544643,4.124051,4.056414,10.578466,1.033177,52.400868,11198.331917,1.238321

In [75]:
print('Number of NaNs by column')

for col_name in pop_env_data_df.columns:
    print(f'{col_name}: {pop_env_data_df[col_name].isna().sum()}')

Number of NaNs by column
COVID_Mortality_R: 0
POP_DENS: 0
POP 0-14: 0
POP 15-29: 0
POP 30-44: 0
POP 45-59: 0
POP_GROWTH: 0
HOUSEHOLDS: 0
DWELLINGS: 0
SURFACE AREA: 0
NTL_avg: 0
NO2_avg: 0
WIND_Avg: 0
Temp_mean_over12yrs: 0
PRESSURE_avg: 0
PRECIPITATION: 0
SOLAR_RAD_avg: 0
LAI_avg: 0

In [76]:
print(f'The number of data points is: {len(pop_env_data_df)}')

The number of data points is: 810

## Save Data Frames

In [77]:
POP_DATA_DF_FILE_NAME = 'pop_data_df'
POP_ENV_DATA_DF_FILE_NAME = 'pop_env_data_df'
EXTENSION = '.csv'

In [78]:
pop_data_df.to_csv(f'{BASE_PATH}/{POP_DATA_DF_FILE_NAME}{EXTENSION}')
pop_env_data_df.to_csv(f'{BASE_PATH}/{POP_ENV_DATA_DF_FILE_NAME}{EXTENSION}')

## Implement Train/Test Splits

In [79]:
TEST_SIZE = 0.33

In [80]:
from sklearn.model_selection import train_test_split

In [81]:
X = pop_env_data_df.drop(OUTPUT_COLS, axis=1)
Y = pop_env_data_df[OUTPUT_COLS]

In [82]:
train_X, test_X, train_Y, test_Y = train_test_split(X, Y, test_size=TEST_SIZE)

In [83]:
pop_data_df_train_X = train_X[POP_DATA_INPUT_COL_NAMES]
pop_data_df_test_X = test_X[POP_DATA_INPUT_COL_NAMES]
pop_data_df_train_Y = train_Y
pop_data_df_test_Y = test_Y

In [84]:
pop_data_df_train_X.to_csv(f'{BASE_PATH}/{POP_DATA_DF_FILE_NAME}_train_X{EXTENSION}')
pop_data_df_test_X.to_csv(f'{BASE_PATH}/{POP_DATA_DF_FILE_NAME}_test_X{EXTENSION}')
pop_data_df_train_Y.to_csv(f'{BASE_PATH}/{POP_DATA_DF_FILE_NAME}_train_Y{EXTENSION}')
pop_data_df_test_Y.to_csv(f'{BASE_PATH}/{POP_DATA_DF_FILE_NAME}_test_Y{EXTENSION}')

In [85]:
pop_env_data_df_train_X = train_X
pop_env_data_df_test_X = test_X
pop_env_data_df_train_Y = train_Y
pop_env_data_df_test_Y = test_Y

In [86]:
pop_env_data_df_train_X.to_csv(f'{BASE_PATH}/{POP_ENV_DATA_DF_FILE_NAME}_train_X{EXTENSION}')
pop_env_data_df_test_X.to_csv(f'{BASE_PATH}/{POP_ENV_DATA_DF_FILE_NAME}_test_X{EXTENSION}')
pop_env_data_df_train_Y.to_csv(f'{BASE_PATH}/{POP_ENV_DATA_DF_FILE_NAME}_train_Y{EXTENSION}')
pop_env_data_df_test_Y.to_csv(f'{BASE_PATH}/{POP_ENV_DATA_DF_FILE_NAME}_test_Y{EXTENSION}')